* {
  font-family: "Futura", sans-serif;
}


header {

  height: 75px;
  width: 100%;
  padding-bottom: 30px;

}

body {
  background-image: url(https://static.pexels.com/photos/97104/pexels-photo-97104-large.jpeg);
  background-size: cover;
}


h1 {
  color: #20303e;
  text-align: left;
  margin-left: 20px;
  display: inline;
  float: left;
}

ul li{
  display: inline;
  color: #20303e;
  padding: 10px;
  float: right;
  margin-top: 30px;
}
/* I got the idea for the link decoration from http://www.w3schools.com/css/css_link.asp */
a:link{
  color: #20303e;
  text-decoration: none;
  height: 10px;
  width: 10px;
  padding: 10px;

}
a:hover{
  background-color: rgba(255,255,255,.8);
  border-radius: 5px;
}

a:visited{
  color: #20303e;
}

h2, p {
  color: #17222d;
  font-weight: bold;
}

section {
  background-color: rgba(190, 192, 202, .4);
  margin-top: 40px;
}

section h2, p {
  margin-left: 20px;
  padding: 20px 10px 10px 20px;



}

figure img{
  float: left;
  padding-right: 20px;
  height: 20%;
  width: 20%;
}
